{
  "plugins": [
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],

    [
      "transform-imports",
      {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}",
          "preventFullImport": true
        }
      }
    ],

    [
      "transform-decorators-legacy"
    ]
  ],

  "presets": [
    "es2015",
    "stage-0",
    "react"
  ]
}
