{

  "globals": {
    "window": true,
    "document": true,
    "dispatcher": true,
    "console": true
  },

  "parser": "babel-eslint",

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "plugins": [
    "react"
  ],

  "rules": {
    "max-len": [
      1,
      120,
      2
    ],
    "quotes": [
      1,
      "double"
    ],
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "no-extra-bind": [
      1
    ],
    "eol-last": [
      1,
      "always"
    ],
    "no-console": [
      1,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "space-before-function-paren": [
      1
    ]
  }
}