VERSION
__pycache__
*.pyc
/.idea
/assets/prunus_persica
/build
node_modules
dist
dist-types
*.tsbuildinfo
.output
.nitro
.tanstack
doc
coverage
/data
/docs/_build
/misc
/watch
config.json
/settings.json
*.log*
.cache
.DS_store
.TILT_PORT
env
tags
.vscode

# Sentry Config File
.env.sentry-build-plugin
