/client/doc
/misc
VERSION
__pycache__
*.pyc
/watch
/data
/build
/client/node_modules
/client/dist
/client/doc
/client/coverage
/.idea
config.json
settings.json
/docs/_build
/assets/prunus_persica
*.log*
.coverage.cog*
.coverage
.cache
.pytest_cache
env
