{
    "branches": [
        "4.0.0"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/release-notes-generator"
    ],
    "repositoryUrl": "https://github.com/virtool/virtool.git",
    "tagFormat": "v${version}"
}