{
  "branches": [
    "main",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits"
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
         "@semantic-release/exec",
         {
            "successCmd": "echo \"git-tag=${nextRelease.gitTag}\" >> $GITHUB_OUTPUT"
         }
    ]
  ],
  "repositoryUrl": "https://github.com/virtool/virtool.git",
  "tagFormat": "${version}"
}
