language: python
sudo: false
python: "3.6"

services:
  - mongodb

addons:
  apt:
    sources:
      - mongodb-upstart
      - mongodb-3.4-precise
    packages:
      - libtbb-dev
      - mongodb-org-server
      - mongodb-org-shell

cache:
  pip: true
  apt: true
  directories:
    - client/node_modules

env:
- TRAVIS_NODE_VERSION="6"

before_install:

# Codacy coverage reporter
- pip install codacy-coverage

# Code climate coverage reporter
- wget https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
- chmod ug+x test-reporter-latest-linux-amd64

# HMMER
- wget http://eddylab.org/software/hmmer3/3.1b2/hmmer-3.1b2-linux-intel-x86_64.tar.gz
- tar -xf hmmer-3.1b2-linux-intel-x86_64.tar.gz
- export PATH=${PATH}:${PWD}/hmmer-3.1b2-linux-intel-x86_64/binaries

# Bowtie2
- wget https://github.com/BenLangmead/bowtie2/releases/download/v2.3.2/bowtie2-2.3.2-legacy-linux-x86_64.zip
- unzip bowtie2-2.3.2-legacy-linux-x86_64.zip
- export PATH=${PATH}:${PWD}/bowtie2-2.3.2-legacy
- bowtie2 --version

# Skewer
- wget https://github.com/relipmoc/skewer/archive/0.2.2.tar.gz
- tar -xvf 0.2.2.tar.gz
- cd skewer-0.2.2
- make
- cd ..
- export PATH=${PATH}:${PWD}/skewer-0.2.2
- skewer --version

# SPAdes
- wget https://github.com/ablab/spades/releases/download/v3.11.0/SPAdes-3.11.0-Linux.tar.gz
- tar -xvf SPAdes-3.11.0-Linux.tar.gz
- export PATH=${PATH}:${PWD}/SPAdes-3.11.0-Linux/bin
- spades.py --version

install:
- pip install -r requirements.txt
- rm -rf ~/.nvm
- git clone https://github.com/creationix/nvm.git ~/.nvm
- cd ~/.nvm
- git checkout `git describe --abbrev=0 --tags`
- source ~/.nvm/nvm.sh
- nvm install $TRAVIS_NODE_VERSION
- npm install -g yarn
- npm install -g webpack
- cd $TRAVIS_BUILD_DIR
- cd client
- yarn install
- webpack --config webpack.production.config.js
- cd $TRAVIS_BUILD_DIR

before_script:
- sleep 15
- ./test-reporter-latest-linux-amd64 before-build

script:
- pytest --loop uvloop --cov --cov-report xml -vv
- python-codacy-coverage -r coverage.xml
- ./test-reporter-latest-linux-amd64 after-build --exit-code $?

after_success:
- mkdir gh_build
- mkdir gh_build/virtool
- python setup.py build
- cp -rv build/exe.linux-x86_64-3.6/* gh_build/virtool
- cp -rv assets gh_build/virtool
- cp -rv templates gh_build/virtool
- cp -rv client/dist gh_build/virtool/client
- cp -v LICENSE gh_build/virtool
- cp -v readme.md gh_build/virtool
- echo $TRAVIS_TAG > gh_build/virtool/VERSION
- cd gh_build
- tar -cvzf virtool.tar.gz virtool
- tar -tvf virtool.tar.gz
- cd ..

deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: Otm5EqAcBp2i/KghWT/LZkLlpY1qHbYolCRk/Mwgqr0IQvy1ryM8IQot88/mntzKjVFbUIlJDVU8UmWgXac0cBCCT4rvzpRqMXEiWK+sl0Lqqg4tiOMS5gdQF5ywYVinT8e5Zl7O4g05zjU7mUMnSLRlTCNtcffdwOAqp9tfNJ4/FqlmHK+mhufmThQOdschbPLo7dFfSA7oioXesPWSA33lwG8PQWwQjmm55oMOqZiN38HG0wdZQgoH3QsVXLlTwqxAuyBfmOjrwkhTLhTfJ1EWwnlq1RF9uzxZF7J7bYR+IWm8Ws7z9n9kMX0F6/onnAS4D3QLue59jzfR7MJqyaDpyEONjjaP/8wC0afJ8vdc3X5SEdLz5S3/4X8d0llJLEZPL2i1PNfJzDIF7GDerF+0UARhtnHjMQFy5oV6UO6Pd3UuFaoaQUQff4Gw6ZYxVGEkbCUwYqMn4JaiDBrViUK2fzFQzWqiMnI3CrYYW19lcC4ppHLuTJz8YlpNwCsxpCU5YB14m6ra5ZPSJ+dqBLuF46KU+4uW+cXi+oAoS6t4Mb9Jz5Nhfgum965uFuOcsYaEilQSGzqRdIJFhBxyp+ow9Cnq0acmffm+W7jT+m0v2IvUlDkthAPSIBDLRrjOECTUXB7VorSusrK6J3hBcdkl6J58DfNi55N2px8KB7w=
  file: gh_build/virtool.tar.gz
  on:
    tags: true

after_deploy:
- python release.py igboyes $GITHUB_WEBSITE_TOKEN
