name: virtool

services:
  test:
    build:
      context: .
      target: test
    volumes:
      - .:/app
      - container_venv:/opt/venv
      - uv_cache:/tmp/uv_cache
    working_dir: /app
    command: sleep infinity
    depends_on:
      mongo:
        condition: service_healthy
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      openfga:
        condition: service_started
    environment:
      VT_MONGO_URI: mongodb://root:virtool@mongo:9001
      VT_REDIS_URI: redis://:virtool@redis:6379
      VT_POSTGRES_URI: postgresql+asyncpg://virtool:virtool@postgres:5432
      VT_OPENFGA_HOST: openfga:8080
      UV_PROJECT_ENVIRONMENT: /opt/venv

  mongo:
    image: mongo:6
    command: ["mongod", "--replSet", "virtool", "--bind_ip_all"]
    volumes:
      - ./tests/setup_mongo.sh:/docker-entrypoint-initdb.d/setup_mongo.sh
    tmpfs:
      - /data/db:size=1g
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    extra_hosts:
      - "mongo:127.0.0.1"
    healthcheck:
      test: mongosh --quiet --eval "rs.isMaster().ismaster" | grep -q true || exit 1
      interval: 5s
      retries: 20
      start_period: 10s

  postgres:
    environment:
      POSTGRES_USER: virtool
      POSTGRES_PASSWORD: virtool
      POSTGRES_DB: virtool
    image: postgres:14
    volumes:
      - ./tests/setup_postgres.sh:/docker-entrypoint-initdb.d/setup_postgres.sh
    tmpfs:
      - /var/lib/postgresql/data:size=1g
    healthcheck:
      test: pg_isready -U virtool -d virtool
      interval: 2s
      retries: 10
      start_period: 2s
    command: postgres -c fsync=off

  redis:
    image: redis:6.0
    command: redis-server --requirepass virtool

  migrate:
    image: openfga/openfga:v0.2.5
    depends_on:
      postgres:
        condition: service_healthy
    command: migrate
    environment:
      OPENFGA_DATASTORE_ENGINE: postgres
      OPENFGA_DATASTORE_URI: postgres://openfga:openfga@postgres:5432/openfga

  openfga:
    image: openfga/openfga:v0.2.5
    environment:
      OPENFGA_DATASTORE_ENGINE: postgres
      OPENFGA_DATASTORE_URI: postgres://openfga:openfga@postgres:5432/openfga
      OPENFGA_LOG_FORMAT: json
    command: run
    depends_on:
      - migrate

volumes:
  container_venv:
  uv_cache:
