[tool.poetry]
name = "virtool"
version = "5.0.0"
authors = []
description = "Viral infection diagnostics using next-generation sequencing"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.dependencies]
python = "^3.6"
aiocontextvars = "0.2.2"
aiofiles = "0.4.0"
aiohttp = "3.7.3"
aiojobs = "0.3.0"
aioredis = "1.3.1"
apipkg = "1.5"
appdirs = "1.4.3"
arrow = "0.15.5"
async-timeout = "3.0.1"
asyncpg = "0.21.0"
atomicwrites = "1.3.0"
attrs = "20.3.0"
azure-core = "1.7.0"
azure-storage-blob = "12.3.2"
bcrypt = "3.1.7"
biopython = "1.76"
black = "19.10b0"
cchardet = "2.1.6"
Cerberus = "1.3.2"
certifi = "2020.6.20"
cffi = "1.14.0"
chardet = "3.0.4"
click = "7.1.1"
coloredlogs = "14.0"
configobj = "5.0.6"
contextvars = "2.4"
coverage = "5.0.4"
cryptography = "3.2"
dictdiffer = "0.8.1"
dnspython = "2.0.0"
et-xmlfile = "1.0.1"
execnet = "1.7.1"
Faker = "8.0.0"
fastdiff = "0.2.0"
greenlet = "1.0.0"
hiredis = "1.0.1"
humanfriendly = "8.1"
idna = "2.10"
idna_ssl = "1.1.0"
immutables = "0.11"
importlib-metadata = "1.6.0"
isodate = "0.6.0"
jdcal = "1.4.1"
Jinja2 = "2.11.2"
MarkupSafe = "1.1.1"
more-itertools = "8.3.0"
motor = "2.1.0"
msrest = "0.6.19"
multidict = "5.1.0"
numpy = "1.18.2"
oauthlib = "3.1.0"
openpyxl = "3.0.3"
packaging = "20.4"
pathspec = "0.8.0"
pluggy = "0.13.1"
psutil = "5.7.0"
py = "1.8.1"
pycparser = "2.20"
pymongo = "3.10.1"
pyparsing = "2.4.7"
python-dateutil = "2.8.1"
regex = "2020.4.4"
requests = "2.24.0"
requests-oauthlib = "1.3.0"
semver = "2.9.1"
sentry-sdk = "1.0.0"
six = "1.15.0"
SQLAlchemy = "1.4.4"
termcolor = "1.1.0"
toml = "0.10.0"
typed-ast = "1.4.1"
typing-extensions = "3.7.4.3"
urllib3 = "1.25.8"
uvloop = "0.14.0"
visvalingamwyatt = "0.1.2"
wasmer = "0.4.1"
wcwidth = "0.1.9"
yarl = "1.6.3"
zipp = "3.1.0"

[tool.poetry.dev-dependencies]

pytest = "5.4.2"
pytest-aiohttp = "0.3.0"
pytest-cov = "2.8.1"
pytest-forked = "1.1.3"
pytest-mock = "3.1.0"
pytest-repeat = "0.9.1"
pytest-xdist = "1.32.0"
snapshottest = "0.5.1"

[tool.poetry.scripts]
virtool = "virtool.config:entry"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
