[tool.poetry]
name = "virtool"
version = "0.0.0"
authors = [
    "Ian Boyes",
    "Reece Hoffmann",
    "Aman Monga",
    "Blake Smith",
    "Jake Alexander",
    "Josh Moreira",
    "Lilly Roberts",
    "Naomi Schaufele",
    "Ryan Fang",
    "Sebastian Chen",
    "Tiansheng Sui"
]
maintainers = [
    "Ian Boyes <igboyes@gmail.com>"
]
description = "Viral infection diagnostics using next-generation sequencing"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.isort]
profile = "black"

[tool.poetry.dependencies]
python = "~3.10"
aiofiles = "^0.7.0"
aiohttp = {extras = ["speedups"], version = "^3.8.1"}
aioredis = "^1.3.1"
arrow = "^1.2.2"
asyncpg = "^0.26.0"
bcrypt = "^3.2.0"
biopython = "^1.79"
click = "^8.0.1"
coloredlogs = "^15.0"
dictdiffer = "^0.8.1"
Faker = "^8.6.0"
motor = "^3.1.2"
openpyxl = "^3.0.7"
psutil = "^5.8.0"
semver = "^2.13.0"
sentry-sdk = "^1.9.5"
SQLAlchemy = "^2.0.4"
visvalingamwyatt = "^0.1.4"
uvloop = "^0.16.0"
Cerberus = "^1.3.4"
PyYAML = "^5.4.1"
email-validator = "^1.1.3"
PyJWT = "^2.3.0"
msal = "^1.16.0"
aiojobs = "^1.0.0"
aiohttp-pydantic = "^1.12.1"
orjson = "^3.8.0"
openfga-sdk = "^0.1.1"
python-jose = "^3.3.0"
alembic = {extras = ["tz"], version = "^1.10.3"}
virtool-core = "^4.13.0"
pytest = "^6.2.5"
syrupy = "^1.7.4"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.12.1"
pytest-mock = "^3.6.1"
pytest-regressions = "^2.2.0"
pytest-xdist = "^2.2.1"
pytest-aiohttp = "^0.3.0"
pre-commit = "^2.16.0"
black = "^21.12b0"
pytest-rerunfailures = "^10.2"

[tool.poetry.scripts]
virtool = "virtool.config.cli:entry"

[tool.poetry.group.dev.dependencies]
isort = "^5.12.0"
aiohttp-devtools = "^0.0.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
