[tool.poetry]
name = "virtool"
version = "5.0.0"
authors = [
    "Ian Boyes <igboyes@gmail.com>",
    "Naomi Schaufele",
    "Sebastian Chen",
    "Blake Smith",
    "Jake Alexander",
    "Tiansheng Sui"
]
maintainers = [
    "Ian Boyes <igboyes@gmail.com>"
]
description = "Viral infection diagnostics using next-generation sequencing"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.dependencies]
python = "^3.7"
aiofiles = "^0.7.0"
aiohttp = {extras = ["speedups"], version = "^3.7.4"}
aioredis = "^2.0.0"
arrow = "^1.1.0"
asyncpg = "^0.23.0"
bcrypt = "^3.2.0"
biopython = "^1.79"
click = "^8.0.1"
coloredlogs = "^15.0"
dictdiffer = "^0.8.1"
Faker = "^8.6.0"
Jinja2 = "^3.0.1"
motor = "^2.4.0"
openpyxl = "^3.0.7"
psutil = "^5.8.0"
semver = "^2.13.0"
sentry-sdk = "^1.1.0"
SQLAlchemy = "^1.4.17"
visvalingamwyatt = "^0.1.4"
uvloop = "^0.15.2"
aiojobs = "^0.3.0"
Cerberus = "^1.3.4"
PyYAML = "^5.4.1"


[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-cov = "^2.12.1"
pytest-mock = "^3.6.1"
pytest-regressions = "^2.2.0"
pytest-xdist = "^2.2.1"
snapshottest = "^0.6.0"
pytest-aiohttp = "^0.3.0"

[tool.poetry.scripts]
virtool = "virtool.config:entry"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
