aiohttp==2.0.4
alabaster==0.7.10
appdirs==1.4.3
async-timeout==1.2.0
Babel==2.4.0
bcrypt==3.1.3
biopython==1.68
Cerberus==1.1
cffi==1.10.0
chardet==2.3.0
coloredlogs==6.0
coverage==4.3.4
dictdiffer==0.6.1
docutils==0.13.1
freezegun==0.3.8
humanfriendly==2.4
imagesize==0.7.1
inotify==0.2.8
Jinja2==2.9.5
MarkupSafe==1.0
motor==1.1
multidict==2.1.4
packaging==16.8
psutil==5.2.1
py==1.4.33
pycparser==2.17
Pygments==2.2.0
pymongo==3.4.0
pyparsing==2.2.0
pytest==3.0.7
pytest-aiohttp==0.1.3
pytest-cov==2.4.0
pytest-mock==1.5.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
setproctitle==1.1.10
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.3
sphinx-rtd-theme==0.2.4
uvloop==0.8.0
yarl==0.10.0
