aiofiles==0.4.0
aiohttp==3.4.1
aiojobs==0.2.1
aionotify==0.2.0
apipkg==1.5
appdirs==1.4.3
arrow==0.12.1
async-timeout==3.0.0
atomicwrites==1.2.0
attrs==18.1.0
bcrypt==3.1.4
cchardet==2.1.1
Cerberus==1.2
cffi==1.11.5
chardet==3.0.4
coloredlogs==10.0
coverage==4.5.1
cx-Freeze==6.0b1
dictdiffer==0.7.1
execnet==1.5.0
humanfriendly==4.16.1
idna==2.7
idna-ssl==1.1.0
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.3.0
motor==1.3.1
multidict==4.3.1
numpy==1.15.1
packaging==17.1
pluggy==0.7.1
psutil==5.4.7
py==1.6.0
pycparser==2.18
pymongo==3.7.1
pyparsing==2.2.0
pytest==3.7.4
pytest-aiohttp==0.3.0
pytest-asyncio==0.9.0
pytest-cov==2.5.1
pytest-forked==0.2
pytest-mock==1.10.0
pytest-xdist==1.23.0
python-dateutil==2.7.3
raven==6.9.0
raven-aiohttp==0.7.0
semver==2.8.1
six==1.11.0
uvloop==0.11.2
virtool.job==0.1.4
virtool.nuvs==0.1.2
visvalingamwyatt==0.1.2
yarl==1.2.6
