aiofiles==0.3.2
aiohttp==2.3.9
apipkg==1.4
appdirs==1.4.3
arrow==0.12.0
async-timeout==2.0.0
attrs==17.4.0
bcrypt==3.1.4
cchardet==2.1.1
Cerberus==1.1
cffi==1.11.4
chardet==3.0.4
coloredlogs==9.0
coverage==4.4.2
cx-Freeze==5.0.2
dictdiffer==0.7.0
execnet==1.5.0
humanfriendly==4.7
idna==2.6
inotify==0.2.9
Mako==1.0.7
MarkupSafe==1.0
motor==1.2.1
multidict==4.0.0
nose==1.3.7
packaging==16.8
pluggy==0.6.0
psutil==5.4.3
py==1.5.2
pycparser==2.18
pymongo==3.6.0
pyparsing==2.2.0
pytest==3.3.2
pytest-aiohttp==0.3.0
pytest-asyncio==0.8.0
pytest-cov==2.5.1
pytest-forked==0.2
pytest-mock==1.6.3
pytest-xdist==1.20.1
python-dateutil==2.6.1
raven==6.4.0
raven-aiohttp==0.6.0
semver==2.7.9
setproctitle==1.1.10
six==1.11.0
uvloop==0.9.1
yarl==1.0.0
