{
	admin off
}

https://dev.localhost:9443 {
	tls internal
	reverse_proxy unix//run/virtool-dev/http.sock
}

https://:9443 {
	tls internal {
		on_demand
	}

	@upload path /devstoreaccount1/*
	handle @upload {
		reverse_proxy azurite:10000
	}

	@environment header_regexp environment Host ^([a-z0-9-]+)\.localhost(?::\d+)?$
	handle @environment {
		reverse_proxy {re.environment.1}:9900
	}
}
