{
	admin off
}

https://dev.localhost:9443 {
	tls internal
	reverse_proxy host.docker.internal:9843
}

https://*.localhost:9443 {
	tls internal

	@upload path /devstoreaccount1/*
	handle @upload {
		reverse_proxy azurite:10000
	}

	@environment host_regexp environment ^([a-z0-9-]+)\.localhost$
	handle @environment {
		reverse_proxy {re.environment.1}:9900
	}
}
