@font-face {
  font-family: 'vtfont';
  src:url("../fonts/vtfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}


i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vtfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-vga:before {
  content: "\e908";
}
.i-ruler:before {
  content: "\e90e";
}
.i-lock:before {
  content: "\e90c";
}
.i-key:before {
  content: "\e911";
}
.i-star:before {
  content: "\e907";
}
.i-book:before {
  content: "\e906";
}
.i-github:before {
  content: "\e903";
}
.i-sort-desc:before {
  content: "\e900";
}
.i-sort-asc:before {
  content: "\e905";
}
.i-file-text:before {
  content: "\e916";
}
.i-file:before {
  content: "\e915";
}
.i-arrow-right:before {
  content: "\e909";
}
.i-arrow-left:before {
  content: "\e90a";
}
.i-arrow-down:before {
  content: "\e90b";
}
.i-arrow-up:before {
  content: "\e90f";
}
.i-enlarge:before {
  content: "\e901";
}
.i-shrink:before {
  content: "\e902";
}
.i-hammer:before {
  content: "\e800";
}
.i-reset:before {
  content: "\e675";
}
.i-home:before {
  content: "\e600";
}
.i-pencil:before {
  content: "\e601";
}
.i-document:before {
  content: "\e604";
}
.i-folder-closed:before {
  content: "\e60f";
}
.i-folder-open:before {
  content: "\e610";
}
.i-tag:before {
  content: "\e611";
}
.i-pushpin:before {
  content: "\e617";
}
.i-print:before {
  content: "\e606";
}
.i-filing:before {
  content: "\e61c";
}
.i-box-add:before {
  content: "\e61d";
}
.i-floppy:before {
  content: "\e621";
}
.i-user:before {
  content: "\e622";
}
.i-users:before {
  content: "\e623";
}
.i-search:before {
  content: "\e627";
}
.i-wrench:before {
  content: "\e607";
}
.i-cog:before {
  content: "\e62c";
}
.i-wand:before {
  content: "\e60b";
}
.i-pie:before {
  content: "\e62d";
}
.i-bars:before {
  content: "\e62f";
}
.i-leaf:before {
  content: "\e609";
}
.i-meter:before {
  content: "\e630";
}
.i-lab:before {
  content: "\e631";
}
.i-remove:before {
  content: "\e632";
}
.i-briefcase:before {
  content: "\e633";
}
.i-switch:before {
  content: "\e669";
}
.i-flag:before {
  content: "\e60c";
}
.i-attachment:before {
  content: "\e638";
}
.i-eye:before {
  content: "\e639";
}
.i-eye-blocked:before {
  content: "\e63a";
}
.i-warning:before {
  content: "\e644";
}
.i-notification:before {
  content: "\e645";
}
.i-question:before {
  content: "\e646";
}
.i-info:before {
  content: "\e647";
}
.i-blocked:before {
  content: "\e649";
}
.i-cancel-circle:before {
  content: "\e64a";
}
.i-spam:before {
  content: "\e64c";
}
.i-close:before {
  content: "\e64d";
}
.i-checkmark:before {
  content: "\e64e";
}
.i-exit:before {
  content: "\e651";
}
.i-checkbox-checked:before {
  content: "\e652";
}
.i-checkbox-unchecked:before {
  content: "\e653";
}
.i-checkbox-partial:before {
  content: "\e654";
}
.i-radio-checked:before {
  content: "\e655";
}
.i-radio-unchecked:before {
  content: "\e656";
}
.i-filter:before {
  content: "\e658";
}
.i-table:before {
  content: "\e65a";
}
.i-file-pdf:before {
  content: "\e65e";
}
.i-file-excel:before {
  content: "\e65f";
}
.i-file-zip:before {
  content: "\e660";
}
.i-chrome:before {
  content: "\e661";
}
.i-firefox:before {
  content: "\e662";
}
.i-IE:before {
  content: "\e663";
}
.i-safari:before {
  content: "\e664";
}
.i-play:before {
  content: "\ea1c";
}
.i-new-tab:before {
  content: "\ea7e";
}
.i-vtlogo:before {
  content: "\e67a";
}
.i-dna:before {
  content: "\e673";
}
.i-arrow-back:before {
  content: "\e677";
}
.i-export:before {
  content: "\e912";
}
.i-new-entry:before {
  content: "\e67c";
}
.i-eraser:before {
  content: "\e674";
}
.i-menu:before {
  content: "\e914";
}
.i-minus-square:before {
  content: "\e910";
}
.i-undo:before {
  content: "\e904";
}
.i-paint-brush:before {
  content: "\e679";
}
.i-plus-square:before {
  content: "\e672";
}
.i-caret-right:before {
  content: "\e66e";
}
.i-caret-left:before {
  content: "\e66f";
}
.i-caret-up:before {
  content: "\e670";
}
.i-caret-down:before {
  content: "\e671";
}
.i-database:before {
  content: "\e66d";
}
