.reference-remote {
  align-items: center;
  border: 2px dashed #23587f;
  display: flex;
  justify-content: center;

  span {
    padding: 50px 0;
    text-align: center;
  }
}

.dropdown-export-reference {
  display: inline;
  line-height: 0.5;
}

.export-ref-dropdown-menu {
  right: 0;
  left: auto;
  min-width: auto;
}
