.reference-item {
  align-self: flex-start;
  cursor: pointer;
  flex: 0 0 auto;
  margin: 1rem 1rem 0 0;
  min-width: 300px;
  box-shadow: 1px 1px 2px 0 #d5d5d5;
  transform: scale(1);
  transition: transform 100ms ease-in;

  &:hover {
    transform: scale(1.015);
  }
}
