.reference-item {
  align-self: flex-start;
  cursor: pointer;
  flex: 0 0 auto;
  margin: 1rem 1rem 0 0;
  min-width: 300px;
  box-shadow: 1px 1px 2px 0 #d5d5d5;
  transform: scale(1);
  transition: transform 100ms ease-in;

  &:hover {
    transform: scale(1.015);
  }
}

.reference-item-remote {
  align-self: flex-start;
  cursor: pointer;
  flex: 0 0 auto;
  margin: 1rem 1rem 0 0;
  width: 300px;
  height: 300px;
  border: 2px dashed #23587f;
  text-align: center;
  line-height: 300px;
}

.reference-remote-contents {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding: 6px 12px;
  font-size: 14px;
}
