@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/roboto.woff') format('woff'),
       local('Roboto'),
       local('Roboto-regular');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/roboto-mono.woff') format('woff'),
       local('Roboto Mono');
}

