// Import Bootstrap less 3.37
@import "./bootstrap.less";

// Import CSS for custom font and icons
@import "font.css";

// Import extra NPM module CSS
@import "./typeahead.css";

// Virtool LESS modules
@import "./divider.less";
@import "./graphics.less";
@import "./print.less";
@import "./progress.less";
@import "./reference.less";
@import "./setup.less";

// Bootstrap color variables
@brand-primary: lighten(#05486c, 10%);
@brand-success: #60af98;
@brand-warning: #be9235;
@brand-danger: #d44b40;
@brand-info: darken(#be8dbf, 10%);

@state-info-text: darken(@brand-info, 12%);
@state-info-bg: lighten(@brand-info, 30%);

// Bootstrap small-screen breakpoint variable
@screen-sm: 868px;
@grid-float-breakpoint: 868px;

// Bootstrap container sizes
@container-sm: 100vw;
@container-md: 100vw;
@container-lg: 100vw;

// Bootstrap collapse menu button color
@navbar-default-toggle-hover-bg: #60af98;

// Sidebar menu button hover color
@nav-link-hover-bg: #c1e4db;

// Bootstrap border-radius variable
@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

@navbar-default-bg: #3c8786;
@navbar-default-link-color: #edf7f6;
@navbar-default-link-hover-color: darken(#3c8786, 15%);
@navbar-default-link-active-color: #edf7f6;
@navbar-default-border: none;
@navbar-height: 45px;

@grid-gutter-width: 16px;

@input-group-addon-bg: #fff;
@input-border-focus: lighten(@brand-primary, 8%);

@state-danger-bg: lighten(@brand-danger, 30%);
@state-danger-text: darken(@brand-danger, 12%);
@state-danger-border: @brand-danger;

@breadcrumb-bg: none;
@breadcrumb-padding-horizontal: 0;
@breadcrumb-padding-vertical: 3px;

body {
    height: calc(100vh - 40px);
    padding-top: 65px;
    font-family: "Roboto", sans-serif;
    overflow-y: scroll;
}

// Overrides bootstrap modal shifting containers
body.modal-open {
    overflow: scroll !important;
    padding-right: 0 !important;
}

td.sequence-cell {
    padding: 0 !important;
    font-family: "Roboto Mono", monospace;
}

td.sequence-cell > textarea {
    width: 100%;
    margin: 0 0 -4px 0;
    padding: 5px;
    border: none;
}

.navbar-fixed-top > .container {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 0 35px;
}

.navbar {
    box-shadow: 0px 2px 2px 0 #d5d5d5;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #edf7f6;
}

.navbar-collapse {
    @media (max-width: @grid-float-breakpoint - 1) {
        &.collapsing {
            position: absolute;
            right: 0;
            margin-top: 0 !important;
            max-width: 150px;
            min-width: 150px;
            background-color: #60af98;
        }

        &.in {
            position: absolute;
            right: 0;
            margin-top: 0 !important;
            max-width: 150px;
            min-width: 150px;
            background-color: #60af98;
        }
    }
}

.not-found.jumbotron {
    background-color: #60af98;
    text-align: center;
    margin: 0;
}

.text-em {
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

td.hoverable {
    cursor: pointer;
}

td.hoverable i {
    color: #777777;
}

td.hoverable:hover i {
    color: #3c763d;
}

tr.hoverable,
th.hoverable {
    cursor: pointer;
}

tr.hoverable:hover,
th.hoverable:hover {
}

tr.shadow-hover {
    cursor: pointer;
}

tr.shadow-hover:hover td:first-child {
    box-shadow: inset 10px 0 0 -8px #777777;
}

div.hoverable:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.fixed-width {
    width: 8px;
    text-align: center;
    display: inline-block;
}

.cell-fit {
    width: 1%;
    white-space: nowrap;
}

.list-group-item {
    &.job {
        cursor: pointer;
    }

    &.spaced {
        margin-bottom: 10px;
        box-shadow: 1px 1px 2px 0 #d5d5d5;
    }
}

.list-group-item.job .job-state-overlay {
    height: 16px;
}

.list-group-item.job:hover .job-state-overlay {
    display: none;
}

.list-group-item.job .job-icons {
    height: 16px;
    display: none;
}

.list-group-item.job:hover .job-icons {
    display: inline;
}

.split-dropdown {
    display: flex;
}

.split-dropdown > * {
    flex: auto;
}

#job-clear-dropdown + .dropdown-menu {
    min-width: 100px;
    z-index: 2000;
}

.icon-group {
    float: right;
}

.icon-group i {
    margin-left: 2px;
    cursor: pointer;
    opacity: 0.7;
}

.icon-group.disabled i {
    color: gray;
    cursor: not-allowed;
}

.icon-group:not(.disabled) i:hover {
    opacity: 1;
}

i.hoverable {
    opacity: 0.7;
}

i.hoverable:hover {
    opacity: 1;
}

.list-group-item.band {
    box-shadow: inset 5px 0 0 0 #dddddd;
}

.list-item-overlay {
    text-align: center;
    line-height: 77px;
    position: absolute;
    top: 0;
    right: 0;
    height: 76px;
    z-index: 10000;
    width: 56px;
    background: #dff0d8;
}

.list-item-overlay:hover {
    background: #5cb85c;
}

.list-item-overlay i {
    font-size: 32px;
    color: white;
    vertical-align: middle;
}

.modal-body-overlay {
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #777777;
    opacity: 0.7;
}

.modal-body-overlay span {
    flex: auto;
    color: white;
    font-size: 24px;
}

.path-bar-label {
    float: left;
    border-right: 1px solid #ccc;
}

.vtlogo {
    float: left;
    max-width: 30px;
    margin: 8px 8px 0 0;
}

.disable-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-section {
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    border-top: 1px solid #dddddd;
    background: white;
}

.panel-custom-error {
    border-color: @brand-danger;
}

.panel-list-custom {
    border: 1px solid white;
    margin: 0;
}

.panel-list-custom-error {
    border: 1px solid @brand-danger;
    margin: 0;
}

td.input-cell {
    padding: 0 !important;
    box-sizing: border-box !important;
}

.input-cell-box {
    display: flex;
    width: auto;
    height: 36px;
    padding: 1px;
}

.input-cell-box.focused {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border: 1px solid #66afe9;
    padding: 0;
}

.input-cell-box form {
    flex: 1;
    width: auto;
}

.input-cell-box input {
    width: 100%;
    border: none;
    outline-style: none;
}

.input-form-error {
    color: @brand-danger;
    font-size: 90%;
    text-align: right;
}

.input-form-error-none {
    visibility: hidden;
    font-size: 90%;
    text-align: right;
}

.input-error-message {
    display: inline-block;
    margin: 3px 0 0 0;
}

.form-control-error {
    border-color: @brand-danger;
}

div.static-value {
    flex: 1;
    width: auto;
}

.input-cell-box div,
input {
    padding: 7px;
}

.input-cell-loading {
    width: 100%;
    background-color: #eeeeee;
    text-align: right;
    padding: 8px;
}

.loading-overlay {
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.loading-overlay div {
    width: 100%;
    color: white;
    z-index: 2001;
    text-align: center;
}

textarea {
    resize: vertical;
    overflow-y: scroll;
}

.sequence {
    font-family: "Roboto Mono", Menlo, monospace;
}

p.sequence {
    word-wrap: break-word;
    width: 100%;
}

div.page-loading {
    display: flex;
    align-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 300px;
}

div.page-loading > * {
    margin: auto;
}

ul.nav.nav-tabs a,
ul.nav.nav-tabs li:focus {
    outline: none;
}

.sample-item-container {
    position: relative;
    &:hover .list-group-item {
        background: #f5f5f5;
    }
}

.sample-checkbox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 45px;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}

.sample-icon-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 45px;
    cursor: pointer;
    background: none;
    z-index: 1000;

    & ~ i {
        opacity: 0.7;
    }

    &.hover ~ i {
        opacity: 1;
    }
}

.text-strong {
    font-weight: bold;
}

.no-padding {
    margin: 0;
}

.btn-with-icon > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.btn-with-icon > div > i {
    margin-right: 3px;
}

.btn-with-icon > div > i:only-child {
    margin-right: 0;
}

.dropzone {
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
}

.dropzone-active {
    background-color: #e6e6e6;
    border-color: #adadad;
}

div.toolbar {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;
}

div.toolbar .form-group {
    margin-bottom: 0 !important;
    flex: auto;
}

div.toolbar > .form-group {
    margin-bottom: 0 !important;
}

div.toolbar > * {
    margin-left: 3px;
}

div.toolbar > *:first-child {
    margin-left: 0;
}

div.toolbar > .btn-group {
    display: flex;
    align-items: stretch;
    margin-left: 3px;
    flex: 0 0 auto;
}

.no-margin {
    margin: 0;
}

.btn-padded {
    margin-left: 3px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

ul.tight-list {
    padding-left: 20px;
}

ul.tight-list > li {
    margin-bottom: 7px;
}

.labelled-checkbox {
    display: flex;
    align-items: center;
}

.labelled-checkbox > i {
    margin-right: 5px;
}

.change-description {
    display: flex;
    align-items: center;

    > span {
        padding-left: 5px;
    }
}

.modal-danger {
    .modal-content {
        border-color: @brand-danger;
    }

    .modal-footer {
        border-top: none;
    }

    .modal-header {
        background-color: @brand-danger;
        border-bottom-color: @brand-danger;
        color: white !important;
    }

    button.close > span {
        color: white;
    }
}

.linked-sample-button {
    margin-bottom: 10px;

    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.with-icon {
    &.label {
        display: flex;
        align-items: center;

        i {
            margin-right: 3px;
        }
    }
}

.settings-container {
    max-width: 1150px;
}

// Prevents user text selection highlight
.no-select {
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.sample-selection-toolbar {
    display: flex;
    align-items: center;
    height: 34px;
    border: 1px solid #ddd;
}
