<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Virtool</title>
    <link rel="stylesheet" href="/static/style.${hash}.css">
</head>
<body style="padding: 0">
    <div class="jumbotron" style="background-color: #3c8786">
        <div class="container">
            <h1 style="display: flex; align-items: center">
                <span class="label label-danger">
                    404
                </span>
                <small style="color: black; padding-left: 15px">
                    <strong>
                        Not found
                    </strong>
                </small>
            </h1>
        </div>
    </div>

    <div class="container text-center">
        <div class="text-center">
            <a href="/" style="text-decoration: none">
                <i class="i-vtlogo" style="font-size: 30px"></i>
            </a>
        </div>
    </div>
</body>
</html>
