<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>Not Found</title>

    <link
            rel="shortcut icon"
            href="/assets/favicon.ico?v=2"
            type="images/x-icon"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/base.css"/>
</head>
<body>
<div class="container">
    <div class="dialog">
        <h1 class="http-error">
            404
        </h1>
        <p class="subtitle">
            Not Found
        </p>

        <p>This is not a valid Virtool location. Check the URL you entered or go back if you followed a link.</p>

        <p><a href="/home">Home</a> — <a href="https://www.virtool.ca/docs/manual">User Docs</a> — <a
                href="https://github.com/virtool/virtool">GitHub</a></p>
    </div>
</div>
</body>
</html>
