<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="shortcut icon"
            href="/static/favicon.ico?v=2"
            type="images/x-icon"
    />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/base.css"/>
    <link rel="stylesheet" href="/static/setup.css"/>

    <title>{% block title %}Setup - Virtool{% endblock %}</title>
</head>

<body>
<div class="container">
    <div class="dialog">
        {% block content %}
            <h1>
                Virtool Setup
            </h1>
            <p class="subtitle">
                Virtool must be configured before you can start using it.
            </p>
            <p>
                Proceeding through this setup process will write a configuration file
                to your installation directory. Alternatively, you can configure
                Virtool by:
            </p>

            <ul>
                <li>creating a configuration file manually</li>
                <li>passing configuration through command line parameters</li>
                <li>setting environmental variables</li>
            </ul>

            <a href="https://www.virtool.ca/docs/gs_configuration"
            >See more instructions and additional advanced configuration
                information</a
            >

            <div class="setup-footer">
                <div>
                    <a class="button" href="/setup/proxy">
                        Setup
                    </a>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
</body>
</html>
