<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico?v=2" type="images/x-icon"/>
    <link rel="stylesheet" href="/static/main.${hash | h}.css">
    <title>Setup Proxy - Virtool</title>
</head>

<body>
<div class="container-noside">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
            <div class="list-group">
                <div class="list-group-item spaced clearfix">
                    <h4 class="setup-header">
                        <span>HTTP Proxy</span>
                        <small class="text-muted pull-right">
                            OPTIONAL
                        </small>
                    </h4>

                    <div class="text-muted setup-subheader">
                        <p>If you connect to the internet through a proxy, configure it here.</p>
                        <p>Virtool will test the proxy configuration before proceeding to the next step.</p>
                    </div>

                    <form method="POST" action="/setup/proxy">
                        <div class="form-group">
                            <label for="proxy">Proxy</label>
                            <input type="text" class="form-control" name="proxy" id="proxy" value='${(proxy or "")  | h}'>
                        </div>

                        %if error == "value_error":
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                            <strong>No proxy address entered.</strong> Skip this step if you don't use a proxy.
                        </div>
                        %endif

                        %if error == "connection_error":
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                            <strong>Could not connect to proxy.</strong>
                        </div>
                        %endif

                        %if error == "auth_error":
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                            <strong>Authentication failed.</strong>
                        </div>
                        %endif

                        %if error == "https_error":
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                            <strong>HTTPS proxies are not supported.</strong>
                        </div>
                        %endif

                        %if not ready:
                        <div class="setup-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-toolbar pull-right" role="toolbar">
                                        <a href="/setup/db" class="btn btn-default">
                                            Skip
                                        </a>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-save"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        %endif
                    </form>

                    %if ready:
                    <div class="alert alert-success">
                        <i class="fas fa-check-circle"></i>
                        <strong>Successfully reached internet through proxy.</strong>
                    </div>

                    <div class="setup-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/setup/db" class="btn btn-primary pull-right">
                                    <i class="fas fa-arrow-circle-right"></i> Next
                                </a>
                            </div>
                        </div>
                    </div>
                    %endif
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
