{% extends "setup.html" %} {% block title %}Setup - Virtool {% endblock %} {% block content %}
    <h1>
        Finish Setup
    </h1>
    <p class="subtitle">
        When you click <em>Save and Restart</em>, the following will occur:
    </p>

    <div>

        <div class="setup-summary">
            <div class="setup-summary-icon">
                <i class="fas fa-file-alt fa-fw"></i>
            </div>
            <div>
                A configuration file will be written to:
                <code class="text-info">{{ config_path }}</code>
            </div>
        </div>

        {% if proxy %}
            <div class="setup-summary">
                <div class="setup-summary-icon">
                    <i class="fas fa-network-wired fa-fw"></i>
                </div>
                <div>
                    Virtool will use the proxy at:
                    <code class="text-info">{{ proxy }}</code>
                </div>
            </div>
        {% endif %}
        <div class="setup-summary">
            <div class="setup-summary-icon">
                <i class="fas fa-folder fa-fw"></i>
            </div>
            <div>
                A data directory will be setup at:
                <code class="text-info">{{ data_path }}</code>
            </div>
        </div>
        <div class="setup-summary">
            <div class="setup-summary-icon">
                <i class="fas fa-folder fa-fw"></i>
            </div>
            <div>
                A watch directory will be created at:
                <code class="text-info">{{ watch_path }}</code>
            </div>
        </div>
        <div class="setup-summary">
            <div class="setup-summary-icon">
                <i class="fas fa-database fa-fw"></i>
            </div>
            <div>
                A database will be created with the name:
                <code class="text-info">{{ db_name }}</code>
            </div>
        </div>
    </div>

    <div class="setup-footer">
        <div>
            <a href="/setup/save" class="button">
                <i class="fas fa-redo-alt"></i> Save and Restart
            </a>
        </div>
    </div>
{% endblock %}
