{% extends "setup.html" %} {% block title %}Setup - Virtool {% endblock %} {% block content %}
    <h1>
        {{ mode.capitalize() }} Location
    </h1>

    <p class="subtitle">
        {% if mode == "data" %}
            Virtool will store application data (<em>eg</em>. sample files) at this location.
        {% else %}
            Virtool automatically retrieve sample read files from this location.
        {% endif %}
    </p>

    <form method="POST" action="/setup/{{ mode }}">
        <label for="path">Path</label>
        <input
                type="text"
                class="form-control"
                name="path"
                id="path"
                placeholder="{{ mode }}"
                value='{{ path or "" }}'
        />

        <div class="setup-footer">
            {% if error == "not_found_error" %}
                <div class="error">
                    <i class="fas fa-exclamation-triangle"></i>
                    <strong> Could not locate or create directory.</strong>
                </div>
            {% endif %} {% if error == "not_empty_error" %}
            <div class="error">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>
                    The directory is not empty. Make sure it is empty then try to configure
                    it again.</strong
                >
            </div>
        {% endif %} {% if error == "permission_error" %}
            <div class="setup-error">
                <i class="fas fa-exclamation-triangle"></i>
                <strong>
                    Virtool does not have permission to create or write to the
                    directory.</strong
                >
            </div>
        {% endif %} {% if ready %}
            <div class="setup-success">
                <i class="fas fa-checkmark-circle"></i>
                <strong>
                    Path is available an will be configured when setup is complete.</strong
                >
            </div>
        {% endif %}
            <div>
                {% if ready %}
                    <a href="/setup/{% if mode == "data" %}watch{% else %}finish{% endif %}"
                       class="button button-plain">
                        <i class="fas fa-arrow-circle-right"></i> Next
                    </a>
                {% else %}
                    <button type="submit" class="button">
                        <i class="fas fa-save"></i> Save
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
