<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico?v=2" type="images/x-icon"/>
    <link rel="stylesheet" href="/static/style.${hash}.css">
    <title>Setup - Virtool</title>
</head>

<body>
<div class="container-noside">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
            <div class="list-group">
                <div class="list-group-item spaced clearfix">
                    <h4>
                        Virtool Setup
                    </h4>
                    <p>
                        Virtool must be configured before you can start using it.
                    </p>
                    <p>
                        Proceeding through this setup process will write a configuration file to your installation
                        directory. Alternatively, you can configure Virtool by:

                        <ul>
                            <li>creating a configuration file manually</li>
                            <li>passing configuration through command line parameters</li>
                            <li>setting environmental variables</li>
                        </ul>

                        <a href="https://www.virtool.ca/docs/gs_configuration">See more instructions and additional advanced configuration information</a>
                    </p>

                    <div style="margin-top: 30px;">
                        <a class="btn btn-primary pull-right" href="/setup/proxy">
                            Setup
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
