{% extends "setup.html" %}
{% block content %}
    <h1>
        Restarting
    </h1>
    <p class="subtitle">
        Virtool must restart. You will be automatically redirected when Virtool is ready.
    </p>
    <div class="setup-loader-container">
        <div class="setup-loader"></div>
    </div>
    <script nonce="{{ nonce }}">
        function checkServer() {
            fetch("/")
                .then(function(response) {
                    if (response.ok) {
                        window.location.replace("/");
                    } else {
                        clearInterval(window.fetchInterval);
                    }
                });
        }

        window.fetchInterval = setInterval(checkServer, 2000);
    </script>
{% endblock %}
