<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico?v=2" type="images/x-icon"/>
    <link rel="stylesheet" href="/static/style.${hash}.css">

    <style>
        .setup-header {
            margin-bottom: 20px;
        }
        .setup-footer {
            margin-top: 25px;
        }
    </style>

    <title>Setup User - Virtool</title>
</head>

<body>
<div class="container-noside">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
            <div class="list-group">
                <div class="list-group-item spaced clearfix">
                    <h4 class="setup-header" style="margin-bottom: 7px;">
                        Create First User
                    </h4>

                    <p class="text-muted" style="margin-bottom: 20px;">
                        Use these credentials to use Virtool when it is up-and-running.
                    </p>

                    <form method="POST" action="/setup/user">
                        <div class="form-group">
                            <label for="id">Username</label>
                            <input type="text" class="form-control" name="id" id="id" value='${id or ""}'>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" value='${password or ""}'>
                        </div>

                        %if ready:
                        <div class="alert alert-success">
                            <i class="fas fa-check-circle"></i> User profile ready!
                        </div>
                        %endif

                        %if not ready:
                        <div class="setup-footer">
                            <button type="submit" class="btn btn-primary pull-right">
                                <i class="fas fa-save"></i> Save
                            </button>
                        </div>
                        %endif
                    </form>

                    %if ready:
                    <div class="setup-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/setup/data" class="btn btn-primary pull-right">
                                    <i class="fas fa-arrow-circle-right"></i> Next
                                </a>
                            </div>
                        </div>
                    </div>
                    %endif
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
