<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico?v=2" type="images/x-icon"/>
    <link rel="stylesheet" href="/static/style.2b51c256.css">

    <title>Virtool - Login</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 200px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px 0px;">
                <div class="panel-body">
                    <form method="post" action="login">
                        <input type="text" name="login-1" style="display: none;" value="${key_1}">

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" autofocus>
                        </div>

                        <input type="text" name="login-2" style="display: none;" value="${key_2}">

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>

                        <input type="text" name="login-3" style="display: none;" value="${key_3}">

                        <button type="submit" name="password" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>