name: ci

on:
  push:
    branches:
      - develop
      - feature/**
      - release/**
  pull_request:
    branches:
      - develop
      - feature/**
      - release/**

jobs:
  server:
    runs-on: ubuntu-20.04
    services:
      redis:
        image: redis:6.0
      mongo:
        image: mongo:4.4
        environment:
          MONGO_INITDB_ROOT_USERNAME: virtool
          MONGO_INITDB_ROOT_PASSWORD: virtool
      postgres:
        image: postgres:13.1
        env:
          POSTGRES_USER: virtool
          POSTGRES_PASSWORD: virtool
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    container:
      image: virtool/external-tools:0.2.0

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Poetry Setup
        run: |
          pip install poetry
          poetry install

      - name: Run
        run: >-
          poetry run
          pytest
          -x
          --db-connection-string mongodb://virtool:virtool@mongo:27017
          --redis-connection-string redis://redis:6379
          --postgres-connection-string postgresql+asyncpg://virtool:virtool@postgres
          --cov
          --cov-report xml

      - name: Run codacy-coverage-reporter
        if: ${{ github.event_name == 'push' }}
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: $GITHUB_WORKSPACE/coverage.xml


  client:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Test
        run: |
          cd client
          npm i
          npx jest --coverage

  build:
    runs-on: ubuntu-20.04
    container:
      image: node:14-stretch
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: |
          cd client
          npm i
          npx webpack --config webpack.production.config.babel.js

