name: ci

on:
  push:
    branches:
      - "main"
      - "alpha"
      - "beta"
  pull_request:
    branches:
      - "main"
      - "alpha"
      - "beta"

jobs:
  commitlint:
    runs-on: ubuntu-20.04
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4
  test:
    runs-on: ubuntu-20.04
    services:
      redis:
        image: redis:6.0
        ports:
          - 6379:6379
      postgres:
        image: postgres:13.1
        env:
          POSTGRES_USER: virtool
          POSTGRES_PASSWORD: virtool
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: 4.4
          mongodb-replica-set: rs
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Load Cached Packages
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install Packages
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root
      - name: Run
        run: >-
          poetry run
          pytest
          -x
          --db-connection-string mongodb://localhost:27017
          --redis-connection-string redis://localhost:6379
          --postgres-connection-string postgresql+asyncpg://virtool:virtool@localhost
          --cov
          --cov-report xml
  release:
    runs-on: ubuntu-20.04
    needs: test
    if: github.event_name == 'push'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install semantic-release
        run: npm i semantic-release@v18.0.0 conventional-changelog-conventionalcommits@4.6.1
      - name: Run semantic-release
        env:
          GITHUB_USERNAME: ${{ secrets.GH_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
